{%extends "base.html" %}

{% block title %}
    TempTitle : GuestDashBoard
{% endblock %}

{% block content %}
    <h1>Hello Guest!</h1>

    <h2>dashboard</h2>

    <a href = /login>Login</a>
    <a href = /signup>Sign-Up</a>

    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul class=flashes>
            {% for message in messages %}
                <li>{{ message }}</li>
            {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}
    
{% endblock %}
