{%extends "base.html" %}

{% block title %}
    TempTitle : GuestDashBoard
{% endblock %}

{% block content %}
<div class = "webpage">
    <h1>Hello Guest!</h1>

    <h2>Dashboard</h2>
    <h3> Sign-Up or login to view your tournaments</h3>
    <a href = /login>Login</a>
    <a href = /signup>Sign-Up</a>
</div>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul class=flashes>
            {% for message in messages %}
                <li>{{ message }}</li>
            {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}

{% endblock %}
