{%extends "base.html" %}

{% block title %}
TempTitle : Sign-Up
{% endblock %}

{% block head %}
<link rel="stylesheet" href={{ url_for('static', filename='styles/login.css' ) }}>
{% endblock %}

{% block content %}
<div class="form">
    <h1>Chess Manager </h1>

    <h2>Welcome please insert details </h2>

    <form action="/auth/createuser" method="post">

        <div class="formInput">
            <label for="username">Username:</label>
            <input name="username" id="username" type="text" required minlength=4 />
        </div>

        <div class="formInput">
            <label for="email">Email:</label>
            <input name="email" id="email" type="text" required />
        </div>

        <div class="formInput">
            <label for="password">Password:</label>
            <input name="password" id="password" type="password" required minlength="8" />
        </div>

        <div class="formInput">
            <label for="repassword">Re-Enter password:</label>
            <input name="repassword" id="repassword" type="password" required minlength="8" />
        </div>

        <div>
            <input type="submit" value="Sign-Up!" />
        </div>

    </form>

    {% for message in messages %}
    <p>{{ message }}</p>
    {% endfor %}

    <p> Already have an account? <a href="/login">Click here to login!</a> </p>
</div>
{% with messages = get_flashed_messages() %}
{% if messages %}
<ul class=flashes>
    {% for message in messages %}
    <li>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}
{% endwith %}
{% endblock %}