{%extends "base.html" %}

{% block title %}
TempTitle : Player Selection
{% endblock %}

{% block content%}

<h1>TempTitle </h1>

<h2> Please input details for tournament you would like to make</h2>

<form action="/tournaments/createplayers" method="post">

    {% for i in range(1,tournamentSize + 1) %}
    <div>
        <label for={{"playerName" + i|string}}> Player {{i}}: </label>
        <input name={{"playerName" + i|string}} id={{"playerName" + i|string}} type="text" required />
    </div>

    {% endfor %}
    <div>
        <input type="submit" value="Sign-Up!" />
    </div>

</form>
{% for message in messages %}
<p>{{ message }}</p>
{% endfor %}

{% with messages = get_flashed_messages() %}
{% if messages %}
<ul class=flashes>
    {% for message in messages %}
    <li>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}
{% endwith %}

{% endblock %}