{%extends "base.html" %}

{% block title %}
    TempTitle : TournamentsHome
{% endblock %}

{% block content %}
    <div>
        <a href= "createtournament">Create!</a>
    </div>
    {% if not tournaments %}
        <p>No tournaments at the moment</p>
    {% else %}
        <table>
            <thead>
                <tr>
                    <th>Tournament Name</th>
                    <th>Tournament Owner</th>
                    <th>Description</th>
                    <th>Size</th>
                    <th>Date</th>
                </tr>
            </thead>
            <tbody>
                {% for tournament in tournaments %}
                    <tr>
                        <td>
                            <form action = {{ "/bracketview" + "/" + tournament[0]|string }} method = "get">
                                <input name = "tournamentName" value = "{{tournament[1]}}" type = "submit" >
                            </form>
                        </td>
                        <td>{{tournament[2]}}</td>
                        <td>{{tournament[3]}}</td>
                        <td>{{tournament[4]}}</td>
                        <td>{{tournament[5]}}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endif %}

    {% for message in messages %}
        <p> {{ message }} </p>
    {% endfor %}

{% endblock %}
