{%extends "base.html" %}

{% block title %}
    TempTitle : Bracket View
{% endblock %}

    {% block content %}
        <div>
            <div>

                {% for roundNumber, round in matches.items() %}
                <h2>Round {{ roundNumber }}</h2>
                    {% for matchNumber, match in round.items() %}
                        <h3>Match {{ matchNumber }}</h3>
                        {% for player in match %}
                            {% if player["matchPlayed"] %}
                            <p class = {% if player["isWinner"] %} "winner" {% else %} "loser" {% endif %}> {{ player["playerName"] }}</p>
                            <form method = "post" action = "/tournaments/updatematch">
                                <input type = "hidden" value = {{player["matchID"]}} name = "matchID">
                                <input type = "hidden" value = {{tournamentID}} name = "tournamentID">
                                <input type = "hidden" value = {{player["playerID"]}}  name = "winner">            
                                <input type = "submit" value = {{player["playerName"]}}>
                            </form>
                            {% endif %}
                        {% endfor %}
                    {% endfor %} 
                {% endfor %}

            <h5> Tournament Winner </h5>            

           
   
        <a href="/">Go home!</a>
    {% endblock %}