{%extends "base.html" %}

{% block title %}
    TempTitle : Bracket View
{% endblock %}

    {% block content %}
        <div>
            <h4> Final </h4>
            <div>

                {% for round in bracket %}
                    {% for match in round %}
                        {% for player in match %}
                            <form method = "post" action = "/tournaments/updatematch">
                                <input type = "hidden" value = {{ matchID}} name = "matchID">
                                <input type = "hidden" value = {{ tournamentID }} name = "tournamentID">
                                <input type = "hidden" value = {{player[0]}}  name = "winner">            
                                <input type = "submit" value = {{player[0]}}>
                            </form>
                         {% endfor %}
                    {% endfor %}
                {% endfor %}

            <h5> Tournament Winner </h5>            
            <div>                
                {{bracket[numberOfRounds + 1]}}            
            </div>
            <!-- <a href={{"/tournaments/" + tournamentID|string + "/" + matchIDs[0][0]|string }} > -->
   
        <a href="/">Go home!</a>
    {% endblock %}