{%extends "base.html" %}

{% block title %}
    TempTitle : ?
{% endblock %}

{% block content%}

    {% if tournamentSize = 2 %}
        <div>
            <h1>TempTitle </h1>

            <h2> Please input details for tournament you would like to make</h2>

            <form action = "/tournaments/createplayers" method = "post">
            
            <div>
                <label for = "playerName">Player ?:</label>
                <input name = "playerName" id = "playerName" type = "text" required /> 
            </div>

            <div>
                <label for = "playerName">Player ?:</label>
                <input name = "playerName" id = "playerName" type = "text" required /> 
            </div>

            <div>
                <input type = "submit" value = "Create!" />
            </div>

            </form>
        </div>    
    {% if tournamentSize = 4 %}
        <div>
            <h1>TempTitle </h1>

            <h2> Please input details for tournament you would like to make</h2>

            <form action = "" method = "post">
            
            <div>
                <label for = "playerName">Player ?:</label>
                <input name = "playerName" id = "playerName" type = "text" required /> 
            </div>

            <div>
                <label for = "playerName">Player ?:</label>
                <input name = "playerName" id = "playerName" type = "text" required /> 
            </div>

            <div>
                <label for = "playerName">Player ?:</label>
                <input name = "playerName" id = "playerName" type = "text" required /> 
            </div>

            <div>
                <label for = "playerName">Player ?:</label>
                <input name = "playerName" id = "playerName" type = "text" required /> 
            </div>

            <div>
                <input type = "submit" value = "Create!" />
            </div>

            </form>
        </div>
    {% if tournamentSize = 8 %}
        <div>
            <h1>TempTitle </h1>

            <h2> Please input details for tournament you would like to make</h2>

            <form action = "" method = "post">
            
            <div>
                <label for = "playerName">Player ?:</label>
                <input name = "playerName" id = "playerName" type = "text" required /> 
            </div>

            <div>
                <label for = "playerName">Player ?:</label>
                <input name = "playerName" id = "playerName" type = "text" required /> 
            </div>

            <div>
                <label for = "playerName">Player ?:</label>
                <input name = "playerName" id = "playerName" type = "text" required /> 
            </div>

            <div>
                <label for = "playerName">Player ?:</label>
                <input name = "playerName" id = "playerName" type = "text" required /> 
            </div>

            <div>
                <label for = "playerName">Player ?:</label>
                <input name = "playerName" id = "playerName" type = "text" required /> 
            </div>

            <div>
                <label for = "playerName">Player ?:</label>
                <input name = "playerName" id = "playerName" type = "text" required /> 
            </div>

            <div>
                <label for = "playerName">Player ?:</label>
                <input name = "playerName" id = "playerName" type = "text" required /> 
            </div>

            <div>
                <label for = "playerName">Player ?:</label>
                <input name = "playerName" id = "playerName" type = "text" required /> 
            </div>

            <div>
                <input type = "submit" value = "Create!" />
            </div>

            </form>
        </div>
    {% else %}
        <div>
            <h1>TempTitle </h1>

            <h2> Please input details for tournament you would like to make</h2>

            <form action = "" method = "post">
            
            <div>
                <label for = "playerName">Player ?:</label>
                <input name = "playerName" id = "playerName" type = "text" required /> 
            </div>

            <div>
                <label for = "playerName">Player ?:</label>
                <input name = "playerName" id = "playerName" type = "text" required /> 
            </div>

            <div>
                <label for = "playerName">Player ?:</label>
                <input name = "playerName" id = "playerName" type = "text" required /> 
            </div>

            <div>
                <label for = "playerName">Player ?:</label>
                <input name = "playerName" id = "playerName" type = "text" required /> 
            </div>

            <div>
                <label for = "playerName">Player ?:</label>
                <input name = "playerName" id = "playerName" type = "text" required /> 
            </div>

            <div>
                <label for = "playerName">Player ?:</label>
                <input name = "playerName" id = "playerName" type = "text" required /> 
            </div>

            <div>
                <label for = "playerName">Player ?:</label>
                <input name = "playerName" id = "playerName" type = "text" required /> 
            </div>

            <div>
                <label for = "playerName">Player ?:</label>
                <input name = "playerName" id = "playerName" type = "text" required /> 
            </div>

            <div>
                <label for = "playerName">Player ?:</label>
                <input name = "playerName" id = "playerName" type = "text" required /> 
            </div>

            <div>
                <label for = "playerName">Player ?:</label>
                <input name = "playerName" id = "playerName" type = "text" required /> 
            </div>

            <div>
                <label for = "playerName">Player ?:</label>
                <input name = "playerName" id = "playerName" type = "text" required /> 
            </div>

            <div>
                <label for = "playerName">Player ?:</label>
                <input name = "playerName" id = "playerName" type = "text" required /> 
            </div>

            <div>
                <label for = "playerName">Player ?:</label>
                <input name = "playerName" id = "playerName" type = "text" required /> 
            </div>

            <div>
                <label for = "playerName">Player ?:</label>
                <input name = "playerName" id = "playerName" type = "text" required /> 
            </div>

            <div>
                <label for = "playerName">Player ?:</label>
                <input name = "playerName" id = "playerName" type = "text" required /> 
            </div>

            <div>
                <label for = "playerName">Player ?:</label>
                <input name = "playerName" id = "playerName" type = "text" required /> 
            </div>

            <div>
                <input type = "submit" value = "Create!" />
            </div>

            </form>
        </div>
    {% endif %}

    <h1>TempTitle </h1>

    <h2> Please input details for tournament you would like to make</h2>

    {% for i in range(tournamentSize - 1)%}
    <form action = "/tournaments/createplayers" method = "post">
            
            <div>
                <label for = "playerName">Player (i + 1):</label>
                <input name = "playerName" id = "playerName" type = "text" required /> 
            </div>

            <div>
                <input type = "submit" value = "Create!" />
            </div>
    </form>
    
    {% endfor %}
{% endblock %}