{%extends "base.html" %}

{% block title %}
    TempTitle : Bracket View
{% endblock %}

    {% block content %}
        {% if tournamentSize = 2 %}
        <div>
            <h4> Final </h4>
            <div>
            {{bracket[?][?][?]}}
            {{bracket[?][?][?]}}
            </div>
        </div>

        <div>
            <h5> Winner </h5>
            <div>
                {{bracket[4]}}
            </div>
        </div>

        {% if tournamentSize = 4 %}
        <div>
            <h4> Semi-Finals </h4>
            <div>
            {{bracket[?][?][?]}}
            {{bracket[?][?][?]}}
            </div>

            <div>
            {{bracket[?][?][?]}}
            {{bracket[?][?][?]}}
            </div>
        </div>

        <div>
            <h4> Final </h4>
            <div>
            {{bracket[?][?][?]}}
            {{bracket[?][?][?]}}
            </div>
        </div>

        <div>
            <h5> Winner </h5>
            <div>
                {{bracket[4]}}
            </div>
        </div>

        {% if tournamentSize = 8 %}
        <div>
            <h4> Quarter-Finals </h4>
            <div>
            {{bracket[?][?][?]}}
            {{bracket[?][?][?]}}
            </div>

            <div>
            {{bracket[?][?][?]}}
            {{bracket[?][?][?]}}
            </div>

            <div>
            {{bracket[?][?][?]}}
            {{bracket[?][?][?]}}
            </div>

            <div>
            {{bracket[?][?][?]}}
            {{bracket[?][?][?]}}
            </div>
        </div>

        <div>
            <h4> Semi-Finals </h4>
            <div>
            {{bracket[?][?][?]}}
            {{bracket[?][?][?]}}
            </div>

            <div>
            {{bracket[?][?][?]}}
            {{bracket[?][?][?]}}
            </div>
        </div>

        <div>
            <h4> Final </h4>
            <div>
            {{bracket[?][?][?]}}
            {{bracket[?][?][?]}}
            </div>
        </div>

        <div>
            <h5> Winner </h5>
            <div>
                {{bracket[4]}}
            </div>
        </div>

        {% if tournamentSize = 16 %}
        <div>
            <h4> Round of 16 </h4>
            <div>
            {{bracket[?][?][?]}}
            {{bracket[?][?][?]}}
            </div>

            <div>
            {{bracket[?][?][?]}}
            {{bracket[?][?][?]}}
            </div>

            <div>
            {{bracket[?][?][?]}}
            {{bracket[?][?][?]}}
            </div>

            <div>
            {{bracket[?][?][?]}}
            {{bracket[?][?][?]}}
            </div>

            <div>
            {{bracket[?][?][?]}}
            {{bracket[?][?][?]}}
            </div>

            <div>
            {{bracket[?][?][?]}}
            {{bracket[?][?][?]}}
            </div>

            <div>
            {{bracket[?][?][?]}}
            {{bracket[?][?][?]}}
            </div>

            <div>
            {{bracket[?][?][?]}}
            {{bracket[?][?][?]}}
            </div>
        </div>

        <div>
            <h4> Quarter-Finals </h4>
            <div>
            {{bracket[?][?][?]}}
            {{bracket[?][?][?]}}
            </div>

            <div>
            {{bracket[?][?][?]}}
            {{bracket[?][?][?]}}
            </div>

            <div>
            {{bracket[?][?][?]}}
            {{bracket[?][?][?]}}
            </div>

            <div>
            {{bracket[?][?][?]}}
            {{bracket[?][?][?]}}
            </div>
        </div>

        <div>
            <h4> Semi-Finals </h4>
            <div>
            {{bracket[?][?][?]}}
            {{bracket[?][?][?]}}
            </div>

            <div>
            {{bracket[?][?][?]}}
            {{bracket[?][?][?]}}
            </div>
        </div>

        <div>
            <h4> Final </h4>
            <div>
            {{bracket[?][?][?]}}
            {{bracket[?][?][?]}}
            </div>
        </div>

        <div>
            <h5> Winner </h5>
            <div>
                {{bracket[4]}}
            </div>
        </div>

        <a href="/tournaments/updateoutcome">Place a result</a>
        <a href="/">Go home!</a>

    {% endblock %}