{%extends "base.html"%}

{% block title %}
    TempTitle : Update
{% endblock %}

{% block content %}
    <datalist id = "possibleRounds"> 
        <option value = "1">
        <option value = "2">
        <option value = "3">
        <option value = "4">
    </datalist>

    <div>
        <h1>TempTitle </h1>

        <h2> Insert name of winner of the match selected</h2>

        <form action = "/tournaments/updatetournament" method = "post">
            
            <div>
                <label for = "winner">Winner of Match:</label>
                <input name = "winner" id = "winner" type = "text" required /> 
            </div>

            <div>
                <input type = "submit" value = "Submit changes" />
            </div>

        </form>
        <p> No changes? <a href = {{"/tournaments/" + tournamentID|string}}>Click here to go back if you would like to not make a change</a> </p>
    </div>

    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul class=flashes>
            {% for message in messages %}
                <li>{{ message }}</li>
            {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}

{% endblock %}
