{%extends "base.html" %}

{% block title %}
    TempTitle : TournamentHome
{% endblock %}

{% block content %}
<h1>Tournament Home</h1>
    <div>
        <a href= "createtournament">Create!</a>
    </div>
    <div class="table">
    {% if not tournaments %}
        <p>No tournaments at the moment</p>
    {% else %}
        <table>
            <thead>
                <tr>
                    <th>Tournament Name</th>
                    <th>Description</th>
                    <th>Size</th>
                    <th>Date</th>
                </tr>
            </thead>
            <tbody>
                {% for tournament in tournaments %}
                    <tr>
                        <td>
                            <a href = {{ "/tournaments/" + tournament[0]|string }}> {{tournament[1]}} </a>
                        </td>
                        <td>{{tournament[2]}}</td>
                        <td>{{tournament[3]}}</td>
                        <td>{{tournament[4]}}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endif %}
    </div>

    {% for message in messages %}
        <p> {{ message }} </p>
    {% endfor %}

{% endblock %}
