{%extends "base.html" %}

{% block title %}
    TempTitle : TournamentsHome
{% endblock %}

{% block content %}
    <div>
        <a href= "createtournament">Create!</a>
    </div>
    {% if not tournaments %}
        <p>No tournaments at the moment</p>
    {% else %}
        <table>
            <thead>
                <tr>
                    <th>Tournament Name</th>
                    <th>Tournament Owner</th>
                    <th>Description</th>
                    <th>Size</th>
                    <th>Date</th>
                </tr>
            </thead>
            <tbody>
                {% for tournament in tournaments %}
                    <tr>
                        <td>{{tournaments[2]}}</td>
                        <td>{{tournaments[3]}}</td>
                        <td>{{tournaments[4]}}</td>
                        <td>{{tournaments[5]}}</td>
                        <td>{{tournaments[6]}}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endif %}

    {% for message in messages %}
        <p> {{ message }} </p>
    {% endfor %}

{% endblock %}
