.winner {
    color: black;
    background-color: rgb(224, 255, 255);
    justify-items: center;
    align-items: center;
    margin: auto;
    padding: 10px;
    border-radius: 25px;
    border: 1px solid black;
}

.loser {
    color: black;
    background-color: rgb(168, 190, 190);
    justify-items: center;
    align-items: center;
    margin: auto;
    padding: 10px;
    border-radius: 25px;
    border: 1px solid black;
}

.round {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.tournament {
    display: flex;
    flex-direction: row;
    gap: 100px;
    height: 100%;
    width: fit-content;
}

.app {
    width: 100vw;
    height: 100vh;
}

.player{
    margin: auto;
    background-color: aliceblue;
    padding: 10px;
    border-radius: 25px;
    border: 1px solid black;
}

.roundText{
    display: flex;
    align-items: center;
}