body {
    background-color: rgb(212, 239, 240);
    font-family: 'Courier New', Courier, monospace;
    margin: 0;
    width: 100vw;
    height: 100vh;
    justify-items: center;
    align-items: center;
}

.form {
    margin:auto;
    background-color: white;
    padding: 10px;
    border-radius: 25px;
    box-shadow: 5px 5px 20px black;
    
}

table, th, td {
  border: 1px solid;
}

.flashes {
    display: flex;
    justify-content: center;
}